body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  margin-top: 25px;
}

#buttons-container {
  width: 100%;
  max-width: 1000px;
  background-color: #30322F;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding: 10px;
}

#buttons-container div {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 20%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 0px;
}

#buttons-container div p {
  margin: 0px;
  padding-top: 20px;
  text-align: center;
}

#buttons-container div button {
  justify-self: center;
}

.button-css {
  color: white;
  border: 2px dashed green;
  padding: 10px;
}